<mat-card>
  <mat-card-header class="w-100">
    <mat-card-title>
      <div class="row pt-1 pb-1">
        <div class="col-6 d-flex justify-content-start">
          <span>CA1</span>
        </div>
        <div class="col-6 d-flex justify-content-end">
          <span>$29000</span>
        </div>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="card-content">
    <div class="row pt-1">
      <div class="col-6 d-flex justify-content-start">
        <span>Disponible</span>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <span>$29000</span>
      </div>
    </div>
    <div class="row pt-1">
      <div class="col-6 d-flex justify-content-start">
        <span>Contable</span>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <span>$29000</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
