<div class="container">
  <ng-container *ngIf='(products$ | async) as products; else loading'>
    <ng-container *ngFor="let product of products; let i = index;">
      <h2 [ngClass]="{'pt-5': i !== 0}">{{product.account.name}}</h2>
      <div class="row">
        <div class="col-6" *ngFor="let account of product.products">
          <app-product-card [product]="account" (click)="selectProduct(account)"></app-product-card>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <div class="align-self-center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
