<div class="container">
  <div class="row">
    <ng-container *ngIf="movements.length > 0">
      <mat-list *ngFor="let m of group(); let i = index;">
        <div mat-subheader>{{m.date}}</div>
        <mat-list-item *ngFor="let t of m.movements">
          <div mat-line>{{t.description}}</div>
          <div mat-line> {{t.currentBalance}} </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </ng-container>
  </div>
  <ng-container *ngIf="movements.length === 0">
    <div class="align-self-center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
</div>
